<div class="color_background">
  <!-- Here user will enter his/her name if he/she is guest of it will be auto filled if user is logged in -->
  Name:<input label="Name" title="Name" type="text"/><br/>

  <!-- Here user will enter his/her email if he/she is guest of it will be auto filled if user is logged in -->
  Email (We will reply to this email address):<input label="Name" title="Name" type="text"/><br/>

  <!-- Here comes the drop down list of the possible reasons of sending contact request -->
  Select appropriate option from above : Drop Down list <br/>

  <!-- Here user will select appropriate option accoring to previously selected value therwise he/she will write a custom short discrition of the option he/she wants to select -->
  Select the type of query from above: options...<br/>

  <!-- User will provide a detailed description of issue/query/comment he/she wants to present. -->
  Description/Comment : <textarea label="Comment" title="Comment0"></textarea><br/>
  <button>Submit</button>
</div>
