<div>
  <div class="color_background">
    <h2>This is header of the question</h2>
    <p>Here comes the date of the question asked</p>
    <p>Some tags for related topics of the question</p>
    <br/>
    <p>Detailded description of the question comes here...</p>
    <br/>
    <p>Answer one of the question...</p>
    <p>Upvotes and downvotes for this answer and comments for this answer</p>
    <br/>
    <p>Answer two of the question</p>
    Upvotes and downvotes for this answer and comments for this answer
  </div>
</div>
